.suggested-list-item .user-cover{
    border-radius: 50%;
}

.suggested-list-item .user-name{
    font-size: small;
    font-weight: bold;
}

.suggested-list-item .user-suggested-reason{
    font-size: small;
}
.suggested-list-item .follow-btn{
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.right-list .list-group-item{
    border: none;
}
